{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Облік Відвідування{% endblock meta_title %}

{% block title %}Облік Відвідування{% endblock title %}

{% block content %}


				<!-- Start Students Listing -->
          	<table class="table table-hover table-striped table-bordered" >
            	<thead>
					<tr>
						<th>No</th>
						<th>Студент</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
						<th>1</th>
              		</tr>
            	</thead>
            	<tbody>
            		<tr>
	            		<td>1</td> 
	            		<td><a title="Редагувати" href="#">Корост Андрій</td> 
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
            		</tr>
            		<tr>
	            		<td>1</td> 
	            		<td><a title="Редагувати" href="#">Корост Андрій</td> 
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
            		</tr>
            		<tr>
	            		<td>1</td> 
	            		<td><a title="Редагувати" href="#">Корост Андрій</td> 
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
						<td><label><input type="checkbox" value=""></label></td>
            		</tr>
            		
            		
            	</tbody>
            </table>
            <!-- End Students Listing -->

        </div>
    </div>
      	<!-- End Main Page Content -->
      	
{% endblock content %}